<div class="menu-container js-menu-container" id="mobile-menu">

    <a class="logo" href="/src/index.html">
        <svg class="logo__img" width="63" height="33">
            <use href="#"></use>
        </svg>NEWS
    </a>

    <button class="menu-toggle js-close-menu">
        <svg class="menu-toggle__icon" width="24" height="24">
            <use href="#"></use>
        </svg>
    </button>

    <ul class="mobile-menu list">
        <li class="mobile-menu-item">
            <svg class="" width="32" height="32">
                <use href="#"></use>
            </svg>
            <a class="mobile-menu-link link" href="/">Home</a>
            <svg class="chevron-right" width="24" height="24">
                <use href="#"></use>
            </svg>
        </li>
        <li class="mobile-menu-item">
            <svg class="" width="32" height="32">
                <use href="#"></use>
            </svg>
            <a class="mobile-menu-link link" href="#about">Favorite</a>
        </li>
        <li class="mobile-menu-item">
            <svg class="" width="32" height="32">
                <use href="#"></use>
            </svg>
            <a class="mobile-menu-link link" href="#apartments">Read</a>
        </li>
    </ul>

    <ul class="switch-menu list">
        <li>
            <button>
                <svg class="svg-sun" width="21" height="21">
                    <use href="#"></use>
                </svg>
            </button>
        </li>

        <li>
            <button>
                <svg class="svg-Toggle" width="40" height="20">
                    <use href="#"></use>
                </svg>
            </button>
        </li>

        <li>
            <button>
                <svg class="svg-moon" width="21" height="21">
                    <use href="#"></use>
                </svg>
            </button>
        </li>
    </ul>
</div>