<section class="container box">
  <ul class="categories_list">
    <div class="thumb">
      <button type="button" class="categories_btn cat">
        Categories
        <svg class="open_icon" width="14" height="14">
          <use href="./images/icons.svg#icon-arrow-down"></use>
        </svg>
      </button>
      <button type="button" class="categories_btn others js_others_btn">
        Others
        <svg class="open_icon" width="14" height="14">
          <use href="./images/icons.svg#icon-arrow-down"></use>
        </svg>
      </button>
      <ul class="btn_group_list"></ul>
    </div>
  </ul>
  <p class="date_text">Search date news</p>
  <div class="calendar">
    <input class="calendar__btn" type="button" />
    <svg class="calendar__img calendar__img--left" width="17" height="17">
      <use href="./images/icons.svg#icon-calendar"></use>
    </svg>
    <svg class="calendar__img calendar__img--right" width="15" height="9">
      <use href="./images/icons.svg#icon-arrow-down"></use>
    </svg>
  </div>
</section>
<!-- <p></p> -->
