<!-- <section class="container mobile">
  <ul class="categories_list">
    <div class="thumb">
      <button type="button" class="categories_btn">
      Others
      <svg class="open_icon" width="14" height="14">
        <use href="./images/icons.svg#icon-arrow-down"></use>
      </svg>
    </button>
    <ul class="btn_group_list">
      <li class="categories_link"><button class="categories_link_btn">Cat</button></li>
      <li class="categories_link"><button class="categories_link_btn">Cat</button></li>
      <li class="categories_link"><button class="categories_link_btn">Cat</button></li>
      <li class="categories_link"><button class="categories_link_btn">Cat</button></li>
      <li class="categories_link"><button class="categories_link_btn">Cat</button></li>
      <li class="categories_link"><button class="categories_link_btn">Cat</button></li>
      <li class="categories_link"><button class="categories_link_btn">Cat</button></li>
      <li class="categories_link"><button class="categories_link_btn">Cat</button></li>
      <li class="categories_link"><button class="categories_link_btn">Cat</button></li>
      <li class="categories_link"><button class="categories_link_btn">Cat</button></li>
      <li class="categories_link"><button class="categories_link_btn">Cat</button></li>
      <li class="categories_link"><button class="categories_link_btn">Cat</button></li>
      <li class="categories_link"><button class="categories_link_btn">Cat</button></li>
      <li class="categories_link"><button class="categories_link_btn">Cat</button></li>
      <li class="categories_link"><button class="categories_link_btn">Cat</button></li>
      <li class="categories_link"><button class="categories_link_btn">Cat</button></li>
      <li class="categories_link"><button class="categories_link_btn">Cat</button></li>
      <li class="categories_link"><button class="categories_link_btn">Cat</button></li>
      </ul>
  </ul>
    </div>
  <div class="modal">
    <input type="text" id="datetime-picker" class="input_time" />
    <svg class="modal_svg_calendar" width="17" height="17">
      <use href="./images/icons.svg#icon-calendar"></use>
    </svg>
    <svg class="modal_svg_up" width="15" height="9">
      <use href="./images/icons.svg#icon-arrow-down"></use>
    </svg>
  </div>
</section>

<section class="container tablet">
  <ul class="categories_list">
    <li class="categories_btn_link"><button class="btn_group">Cat</button></li>
    <li class="categories_btn_link"><button class="btn_group">Cat</button></li>
    <li class="categories_btn_link"><button class="btn_group">Cat</button></li>
    <li class="categories_btn_link"><button class="btn_group">Cat</button></li>
    <div class="thumb">
      <button type="button" class="categories_btn">
      Others
      <svg class="open_icon" width="14" height="14">
        <use href="./images/icons.svg#icon-arrow-down"></use>
      </svg>
    </button>
    <ul class="btn_group_list">
      <li class="categories_link"><button class="categories_link_btn">Cat</button></li>
      <li class="categories_link"><button class="categories_link_btn">Cat</button></li>
      <li class="categories_link"><button class="categories_link_btn">Cat</button></li>
      <li class="categories_link"><button class="categories_link_btn">Cat</button></li>
      <li class="categories_link"><button class="categories_link_btn">Cat</button></li>
      <li class="categories_link"><button class="categories_link_btn">Cat</button></li>
      <li class="categories_link"><button class="categories_link_btn">Cat</button></li>
      <li class="categories_link"><button class="categories_link_btn">Cat</button></li>
      <li class="categories_link"><button class="categories_link_btn">Cat</button></li>
      <li class="categories_link"><button class="categories_link_btn">Cat</button></li>
      <li class="categories_link"><button class="categories_link_btn">Cat</button></li>
      <li class="categories_link"><button class="categories_link_btn">Cat</button></li>
      <li class="categories_link"><button class="categories_link_btn">Cat</button></li>
      <li class="categories_link"><button class="categories_link_btn">Cat</button></li>
    </ul>
  </ul>
    </div>
    <div class="modal">
    <input type="text" id="datetime-picker" class="input_time" />
    <svg class="modal_svg_calendar" width="17" height="17">
      <use href="./images/icons.svg#icon-calendar"></use>
    </svg>
    <svg class="modal_svg_up" width="15" height="9">
      <use href="./images/icons.svg#icon-arrow-down"></use>
    </svg>
  </div>
</section> -->

<section class="container desktop">
  <ul class="categories_list">
    <li class="categories_btn_link"><button class="btn_group">Cat</button></li>
    <li class="categories_btn_link"><button class="btn_group">Cat</button></li>
    <li class="categories_btn_link"><button class="btn_group">Cat</button></li>
    <li class="categories_btn_link"><button class="btn_group">Cat</button></li>
    <li class="categories_btn_link"><button class="btn_group">Cat</button></li>
    <div class="thumb">
      <button type="button" class="categories_btn">
      Others
      <svg class="open_icon" width="14" height="14">
        <use href="./images/icons.svg#icon-arrow-down"></use>
      </svg>
    </button>
    <ul class="btn_group_list">
      <li class="categories_link"><button class="categories_link_btn">Cat</button></li>
      <li class="categories_link"><button class="categories_link_btn">Cat</button></li>
      <li class="categories_link"><button class="categories_link_btn">Cat</button></li>
      <li class="categories_link"><button class="categories_link_btn">Cat</button></li>
      <li class="categories_link"><button class="categories_link_btn">Cat</button></li>
      <li class="categories_link"><button class="categories_link_btn">Cat</button></li>
      <li class="categories_link"><button class="categories_link_btn">Cat</button></li>
      <li class="categories_link"><button class="categories_link_btn">Cat</button></li>
      <li class="categories_link"><button class="categories_link_btn">Cat</button></li>
      <li class="categories_link"><button class="categories_link_btn">Cat</button></li>
      <li class="categories_link"><button class="categories_link_btn">Cat</button></li>
      <li class="categories_link"><button class="categories_link_btn">Cat</button></li>
      <li class="categories_link"><button class="categories_link_btn">Cat</button></li>
    </ul>
  </ul>
    </div>
  <p class="date_text">Search date news</p>
  <div class="modal">
    <input type="text" id="datetime-picker" class="input_time" />
    <svg class="modal_svg_calendar" width="17" height="17">
      <use href="./images/icons.svg#icon-calendar"></use>
    </svg>
    <svg class="modal_svg_up" width="15" height="9">
      <use href="./images/icons.svg#icon-arrow-down"></use>
    </svg>
  </div>
</section>
