<section class="container mobile">
  <button type="button" class="categories_btn">
    Categories
    <svg class="open_icon" width="14" height="14">
      <use href="./images/icons.svg#icon-arrow-down"></use>
    </svg>
  </button>
  <input type="text" id="datetime-picker" class="input_time" />
  <div class="btn_group">
    <li class="categories_link"><a href=""></a>Categories</li>
    <li class="categories_link"><a href=""></a>Categories</li>
    <li class="categories_link"><a href=""></a>Categories</li>
    <li class="categories_link"><a href=""></a>Categories</li>
    <li class="categories_link"><a href=""></a>Categories</li>
    <li class="categories_link"><a href=""></a>Categories</li>
    <li class="categories_link"><a href=""></a>Categories</li>
    <li class="categories_link"><a href=""></a>Categories</li>
    <li class="categories_link"><a href=""></a>Categories</li>
    <li class="categories_link"><a href=""></a>Categories</li>
  </div>
</section>

<section class="container tablet">
  <ul class="categories_list">
    <li class="categories_btn"><a href=""></a>Categories</li>
    <li class="categories_btn"><a href=""></a>Categories</li>
    <li class="categories_btn"><a href=""></a>Categories</li>
    <li class="categories_btn"><a href=""></a>Categories</li>
    <button type="button" class="categories_btn">
      Others
      <svg class="open_icon" width="14" height="14">
        <use href="./images/icons.svg#icon-arrow-down"></use>
      </svg>
    </button>
  </ul>
  <input type="text" id="datetime-picker" class="input_time" />
  <div class="btn_group">
    <li class="categories_link"><a href=""></a>Categories</li>
    <li class="categories_link"><a href=""></a>Categories</li>
    <li class="categories_link"><a href=""></a>Categories</li>
    <li class="categories_link"><a href=""></a>Categories</li>
    <li class="categories_link"><a href=""></a>Categories</li>
    <li class="categories_link"><a href=""></a>Categories</li>
  </div>
</section>

<section class="container desktop">
  <ul class="categories_list">
    <li class="categories_btn"><a href=""></a>Categories</li>
    <li class="categories_btn"><a href=""></a>Categories</li>
    <li class="categories_btn"><a href=""></a>Categories</li>
    <li class="categories_btn"><a href=""></a>Categories</li>
    <li class="categories_btn"><a href=""></a>Categories</li>
    <button type="button" class="categories_btn">
      Others
      <svg class="open_icon" width="14" height="14">
        <use href="./images/icons.svg#icon-arrow-down"></use>
      </svg>
    </button>
  </ul>
  <p class="date_text">Search date news</p>
  <input type="text" id="datetime-picker" class="input_time" />
  <div class="btn_group">
    <li class="categories_link"><a href=""></a>Categories</li>
    <li class="categories_link"><a href=""></a>Categories</li>
    <li class="categories_link"><a href=""></a>Categories</li>
    <li class="categories_link"><a href=""></a>Categories</li>
    <li class="categories_link"><a href=""></a>Categories</li>
  </div>
</section>
