<header class="header" id="home">
    <div class="header__container container">
        <!-- Logo -->
        <a class="logo" href="/src/index.html">
            <svg class="logo__img" width="63" height="33">
                <use href="#"></use>
            </svg>
            NEWS
        </a>

        <!-- nav menu -->
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="/src/index.html" class="nav__link">Home</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">Favorite</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">Read</a>
                </li>
            </ul>
        </nav>

        <!-- search from -->
        <label>
            <input type="search" name="search" />
        </label>

        <!-- switch menu desktop -->
        <ul class="switch-menu list">
            <li>
                <button>Light</button>
            </li>

            <li>
                <button>
                    <svg class="svg-Toggle" width="40" height="20">
                        <use href="#"></use>
                    </svg>
                </button>
            </li>

            <li>
                <button>Dark</button>
            </li>
        </ul>

        <!-- switch menu tablet -->
        <ul>
            <li>
                <button class="">
                    <svg class="" width="20" height="20">
                        <use href="#"></use>
                    </svg>
                </button>
            </li>
            <li>
                <button class="menu-toggle js-open-menu" aria-expanded="false">
                    <svg class="menu-toggle__icon" width="24" height="24">
                        <use href="#"></use>
                    </svg>
                </button>
            </li>
        </ul>

        <ul class="switch-menu list">
            <li>
                <button>
                    <svg class="svg-sun" width="21" height="21">
                        <use href="#"></use>
                    </svg>
                </button>
            </li>

            <li>
                <button>
                    <svg class="svg-Toggle" width="40" height="20">
                        <use href="#"></use>
                    </svg>
                </button>
            </li>

            <li>
                <button>
                    <svg class="svg-moon" width="21" height="21">
                        <use href="#"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</header>
