<section class="news">
    <div class="container">
        <ul class="news__list ">

            <li class="news__item">
                <img class="news__image" src="#" alt="">
                <h2 class="news__title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam laboriosam
                    maxime quibusdam </h2>
                <p class="news__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae iure
                    praesentium
                    cupiditate sint quod fuga? Laborum similique consequuntur maxime officia, iste eius tempore maiores
                    beatae
                    suscipit enim quos ab assumenda!</p>
                    <div class="news__lower-box">
                        <p class="news__date">today`s day</p>
                        <a class="news__readmore-link" href="#">read more</a>
                    </div>
                
                <button class="news__favorite-btn" type="button">Add to favorite</button>
            </li>
            <li class="news__item">
                <img class="news__image" src="#" alt="">
                <h2 class="news__title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam laboriosam
                maxime quibusdam</h2>
                <p class="news__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae iure
                    praesentium
                    cupiditate sint quod fuga? Laborum similique consequuntur maxime officia, iste eius tempore maiores
                    beatae
                    suscipit
                    enim quos ab assumenda!</p>
            <div class="news__lower-box">
                <p class="news__date">today`s day</p>
                <a class="news__readmore-link" href="#">read more</a>
            </div>
                <button class="news__favorite-btn" type="button">Add to favorite</button>
            </li>
            <li class="news__item">
                <img class="news__image" src="#" alt="">
                <h2 class="news__title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam laboriosam
                maxime quibusdam</h2>
                <p class="news__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae iure
                    praesentium
                    cupiditate sint quod fuga? Laborum similique consequuntur maxime officia, iste eius tempore maiores
                    beatae
                    suscipit
                    enim quos ab assumenda!</p>
                <div class="news__lower-box">
                    <p class="news__date">today`s day</p>
                    <a class="news__readmore-link" href="#">read more</a>
                </div>
                <button class="news__favorite-btn" type="button">Add to favorite</button>
            </li>
            <li class="news__item">
                <img class="news__image" src="#" alt="">
                <h2 class="news__title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam laboriosam
                maxime quibusdam</h2>
                <p class="news__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae iure
                    praesentium
                    cupiditate sint quod fuga? Laborum similique consequuntur maxime officia, iste eius tempore maiores
                    beatae
                    suscipit
                    enim quos ab assumenda!</p>
            <div class="news__lower-box">
                <p class="news__date">today`s day</p>
                <a class="news__readmore-link" href="#">read more</a>
            </div>
                <button class="news__favorite-btn" type="button">Add to favorite</button>
            </li>
            <li class="news__item">
                <img class="news__image" src="#" alt="">
                <h2 class="news__title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam laboriosam
                maxime quibusdam</h2>
                <p class="news__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae iure
                    praesentium
                    cupiditate sint quod fuga? Laborum similique consequuntur maxime officia, iste eius tempore maiores
                    beatae
                    suscipit
                    enim quos ab assumenda!</p>
                <div class="news__lower-box">
                    <p class="news__date">today`s day</p>
                    <a class="news__readmore-link" href="#">read more</a>
                </div>
                <button class="news__favorite-btn" type="button">Add to favorite</button>
            </li>

        </ul>
    </div>
</section>