<section class="news">
  <div class="container">
    <ul class="news__list">
      <li class="news__item">
        <div class="news__image-box">
          <img class="news__image" src="./images/news-card/mob/news-card-img-mob@1x.jpg" alt="" />
          <button class="news__favorite-btn" type="button">Add to favorite</button>
          <h3 class="news__image-heading">Job Searching</h3>
        </div>
        <h2 class="news__title">
          8 tips for passing an online interview that will help you get a job
        </h2>
        <p class="news__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi officiis laboriosam, magnam assumenda ipsam itaque
          dignissimos eaque dolorum ex optio, omnis totam dolor, animi expedita nemo possimus? Ducimus, eligendi vitae.
        </p>
        <div class="news__lower-box">
          <p class="news__date">today`s day</p>
          <a class="news__readmore-link" href="#">Read more</a>
        </div>
      </li>
      <li class="news__item">
        <div class="news__image-box">
          <img class="news__image" src="./images/news-card/mob/news-card-img-mob@1x.jpg" alt="" />
          <button class="news__favorite-btn" type="button">Add to favorite</button>
          <h3 class="news__image-heading">Job Searching</h3>
        </div>
        <h2 class="news__title">
          8 tips for passing an online interview that will help you get a job
        </h2>
      <p class="news__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi officiis laboriosam, magnam assumenda ipsam itaque
        dignissimos eaque dolorum ex optio, omnis totam dolor, animi expedita nemo possimus? Ducimus, eligendi vitae.
      </p>
        <div class="news__lower-box">
          <p class="news__date">today`s day</p>
          <a class="news__readmore-link" href="#">Read more</a>
        </div>
        
      </li>
      <li class="news__item">
        <div class="news__image-box">
          <img class="news__image" src="./images/news-card/mob/news-card-img-mob@1x.jpg" alt="" />
          <button class="news__favorite-btn" type="button">Add to favorite</button>
          <h3 class="news__image-heading">Job Searching</h3>
        </div>
        <h2 class="news__title">
          8 tips for passing an online interview that will help you get a job
        </h2>
        <p class="news__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi officiis laboriosam, magnam assumenda ipsam itaque
          dignissimos eaque dolorum ex optio, omnis totam dolor, animi expedita nemo possimus? Ducimus, eligendi vitae.
        </p>
        <div class="news__lower-box">
          <p class="news__date">today`s day</p>
          <a class="news__readmore-link" href="#">Read more</a>
        </div>
       
      </li>
      <li class="news__item">
      <div class="news__image-box">
        <img class="news__image" src="./images/news-card/mob/news-card-img-mob@1x.jpg" alt="" />
        <button class="news__favorite-btn" type="button">Add to favorite</button>
        <h3 class="news__image-heading">Job Searching</h3>
      </div>
        <h2 class="news__title">
          8 tips for passing an online interview that will help you get a job
        </h2>
      <p class="news__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi officiis laboriosam, magnam assumenda ipsam itaque
        dignissimos eaque dolorum ex optio, omnis totam dolor, animi expedita nemo possimus? Ducimus, eligendi vitae.
      </p>
        <div class="news__lower-box">
          <p class="news__date">today`s day</p>
          <a class="news__readmore-link" href="#">Read more</a>
        </div>
       
      </li>
      <li class="news__item">
        <div class="news__image-box">
          <img class="news__image" src="./images/news-card/mob/news-card-img-mob@1x.jpg" alt="" />
          <button class="news__favorite-btn" type="button">Add to favorite</button>
          <h3 class="news__image-heading">Job Searching</h3>
        </div>
        <h2 class="news__title">
        8 tips for passing an online interview that will help you get a job
        </h2>
      <p class="news__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi officiis laboriosam, magnam assumenda ipsam itaque
        dignissimos eaque dolorum ex optio, omnis totam dolor, animi expedita nemo possimus? Ducimus, eligendi vitae.
      </p>
        <div class="news__lower-box">
          <p class="news__date">today`s day</p>
          <a class="news__readmore-link" href="#">Read more</a>
        </div>
        
      </li>
    </ul>
  </div>
</section>


