<section class="news">
  <div class="container">
    <div class="weather"></div>
    <ul class="news__list">
      <li class="news__item">
        <div class="news__image-box">
          <img
            class="news__image"
            src="./images/news-card/mob/news-card-img-mob@1x.jpg"
            alt=""
          />
          <button class="news__favorite-btn" data-value="4" type="button">
            Add to favorite
          </button>
          <!-- <button class="news__favorite-btn-remove " data-value="4" type="button">favorite</button> -->
          <svg class="favorite-btn__icon-add" width="16" height="16">
            <use href="./images/icons.svg#icon-icon-heart-1"></use>
          </svg>
          <h3 class="news__image-heading">Job Searching</h3>
        </div>
        <h2 class="news__title">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci
          quidem pariatur similique praesentium corporis sunt alias natus fugit,
          assumenda nemo laborum sint maiores nihil, obcaecati animi aliquam
          optio velit quam.
        </h2>
        <p class="news__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
          officiis laboriosam, magnam assumenda ipsam itaque dignissimos eaque
          dolorum ex optio, omnis totam dolor, animi expedita nemo possimus?
          Ducimus, eligendi vitae.
        </p>
        <div class="news__lower-box">
          <p class="news__date">today`s day</p>
          <a class="news__readmore-link" href="#">Read more</a>
        </div>
      </li>
    </ul>
  </div>
</section>
