<!-- Pagination -->
<div class="container pagination">
  <ul class="pagination-list">
    <li class="pagination-item">
      <button type="button" class="pagination-btn arrow">
        <span class="pagination-btn-text"> < Prew</span>
      </button>
    </li>
    <li class="pagination-item">
      <button type="button" class="pagination-btn active">
        <span class="pagination-btn-text">1</span>
      </button>
    </li>
    <li class="points none">...</li>
    <li class="pagination-item">
      <button type="button" class="pagination-btn">
        <span class="pagination-btn-text">2</span>
      </button>
    </li>
    <li class="pagination-item">
      <button type="button" class="pagination-btn">
        <span class="pagination-btn-text">3</span>
      </button>
    </li>
    <li class="pagination-item none">
      <button type="button" class="pagination-btn">
        <span class="pagination-btn-text">4</span>
      </button>
    </li>
    <li class="pagination-item none">
      <button type="button" class="pagination-btn">
        <span class="pagination-btn-text">5</span>
      </button>
    </li>
    <li class="pagination-item none">
      <button type="button" class="pagination-btn">
        <span class="pagination-btn-text">6</span>
      </button>
    </li>
    <li class="pagination-item none">
      <button type="button" class="pagination-btn">
        <span class="pagination-btn-text">7</span>
      </button>
    </li>
    <li class="pagination-item none">
      <button type="button" class="pagination-btn">
        <span class="pagination-btn-text">8</span>
      </button>
    </li>
    <li class="pagination-item none">
      <button type="button" class="pagination-btn">
        <span class="pagination-btn-text">9</span>
      </button>
    </li>
    <li class="pagination-item none">
      <button type="button" class="pagination-btn">
        <span class="pagination-btn-text">10</span>
      </button>
    </li>
    <li class="pagination-item none">
      <button type="button" class="pagination-btn">
        <span class="pagination-btn-text">11</span>
      </button>
    </li>
    <li class="pagination-item none">
      <button type="button" class="pagination-btn">
        <span class="pagination-btn-text">12</span>
      </button>
    </li>
    <li class="pagination-item none">
      <button type="button" class="pagination-btn">
        <span class="pagination-btn-text">13</span>
      </button>
    </li>
    <li class="pagination-item none">
      <button type="button" class="pagination-btn">
        <span class="pagination-btn-text">14</span>
      </button>
    </li>
    <li class="pagination-item none">
      <button type="button" class="pagination-btn">
        <span class="pagination-btn-text">15</span>
      </button>
    </li>
    <li class="pagination-item none">
      <button type="button" class="pagination-btn">
        <span class="pagination-btn-text">16</span>
      </button>
    </li>
    <li class="pagination-item none">
      <button type="button" class="pagination-btn">
        <span class="pagination-btn-text">17</span>
      </button>
    </li>
    <li class="pagination-item none">
      <button type="button" class="pagination-btn">
        <span class="pagination-btn-text">18</span>
      </button>
    </li>
    <li class="pagination-item none">
      <button type="button" class="pagination-btn">
        <span class="pagination-btn-text">19</span>
      </button>
    </li>
    <li class="points">...</li>
    <li class="pagination-item">
      <button type="button" class="pagination-btn">
        <span class="pagination-btn-text">20</span>
      </button>
    </li>
    <li class="pagination-item">
      <button type="button" class="pagination-btn arrow">
        <span class="pagination-btn-text">Next > </span>
      </button>
    </li>
  </ul>
</div>
