<main>
  <div class="container">
    <div class="accordion">
      <!-- <div class="accordion__item accordion__item_show">
        <div class="accordion__header">20/02/2021</div>
        <div class="accordion__body">
          <ul class="news__list accordion__list">
            <li class="news__item accordion__news">
              <div class="news__image-box">
                <img
                  class="news__image"
                  src="./images/news-card/mob/news-card-img-mob@1x.jpg"
                  alt=""
                />
                <div class="div">
                  <button
                    class="news__favorite-btn"
                    data-value="4"
                    type="button"
                  >
                    Add to favorite
                  </button>
                  <svg class="favorite-btn__icon-add" width="16" height="16">
                    <use href="./images/icons.svg#icon-icon-heart-1"></use>
                  </svg>
                </div>
                <h3 class="news__image-heading">Job Searching</h3>
              </div>
              <h2 class="news__title">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Adipisci quidem pariatur similique praesentium corporis sunt
                alias natus fugit, assumenda nemo laborum sint maiores nihil,
                obcaecati animi aliquam optio velit quam.
              </h2>
              <p class="news__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Eligendi officiis laboriosam, magnam assumenda ipsam itaque
                dignissimos eaque dolorum ex optio, omnis totam dolor, animi
                expedita nemo possimus? Ducimus, eligendi vitae.
              </p>
              <div class="news__lower-box">
                <p class="news__date">today`s day</p>
                <a class="news__readmore-link" href="#">Read more</a>
              </div>
            </li>
            <li class="news__item accordion__news">
              <div class="news__image-box">
                <img
                  class="news__image"
                  src="./images/news-card/mob/news-card-img-mob@1x.jpg"
                  alt=""
                />
                <div class="div">
                  <button
                    class="news__favorite-btn"
                    data-value="4"
                    type="button"
                  >
                    Add to favorite
                  </button>
                  <svg class="favorite-btn__icon-add" width="16" height="16">
                    <use href="./images/icons.svg#icon-icon-heart-1"></use>
                  </svg>
                </div>
                <h3 class="news__image-heading">Job Searching</h3>
              </div>
              <h2 class="news__title">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Adipisci quidem pariatur similique praesentium corporis sunt
                alias natus fugit, assumenda nemo laborum sint maiores nihil,
                obcaecati animi aliquam optio velit quam.
              </h2>
              <p class="news__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Eligendi officiis laboriosam, magnam assumenda ipsam itaque
                dignissimos eaque dolorum ex optio, omnis totam dolor, animi
                expedita nemo possimus? Ducimus, eligendi vitae.
              </p>
              <div class="news__lower-box">
                <p class="news__date">today`s day</p>
                <a class="news__readmore-link" href="#">Read more</a>
              </div>
            </li>
            <li class="news__item accordion__news">
              <div class="news__image-box">
                <img
                  class="news__image"
                  src="./images/news-card/mob/news-card-img-mob@1x.jpg"
                  alt=""
                />
                <div class="div">
                  <button
                    class="news__favorite-btn"
                    data-value="4"
                    type="button"
                  >
                    Add to favorite
                  </button>
                  <svg class="favorite-btn__icon-add" width="16" height="16">
                    <use href="./images/icons.svg#icon-icon-heart-1"></use>
                  </svg>
                </div>
                <h3 class="news__image-heading">Job Searching</h3>
              </div>
              <h2 class="news__title">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Adipisci quidem pariatur similique praesentium corporis sunt
                alias natus fugit, assumenda nemo laborum sint maiores nihil,
                obcaecati animi aliquam optio velit quam.
              </h2>
              <p class="news__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Eligendi officiis laboriosam, magnam assumenda ipsam itaque
                dignissimos eaque dolorum ex optio, omnis totam dolor, animi
                expedita nemo possimus? Ducimus, eligendi vitae.
              </p>
              <div class="news__lower-box">
                <p class="news__date">today`s day</p>
                <a class="news__readmore-link" href="#">Read more</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="accordion__item">
        <div class="accordion__header">19/02/2021</div>
        <div class="accordion__body">
          <ul class="news__list accordion__list">
            <li class="news__item accordion__news">
              <div class="news__image-box">
                <img
                  class="news__image"
                  src="./images/news-card/mob/news-card-img-mob@1x.jpg"
                  alt=""
                />
                <div class="div">
                  <button
                    class="news__favorite-btn"
                    data-value="4"
                    type="button"
                  >
                    Add to favorite
                  </button>
                  <svg class="favorite-btn__icon-add" width="16" height="16">
                    <use href="./images/icons.svg#icon-icon-heart-1"></use>
                  </svg>
                </div>
                <h3 class="news__image-heading">Job Searching</h3>
              </div>
              <h2 class="news__title">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Adipisci quidem pariatur similique praesentium corporis sunt
                alias natus fugit, assumenda nemo laborum sint maiores nihil,
                obcaecati animi aliquam optio velit quam.
              </h2>
              <p class="news__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Eligendi officiis laboriosam, magnam assumenda ipsam itaque
                dignissimos eaque dolorum ex optio, omnis totam dolor, animi
                expedita nemo possimus? Ducimus, eligendi vitae.
              </p>
              <div class="news__lower-box">
                <p class="news__date">today`s day</p>
                <a class="news__readmore-link" href="#">Read more</a>
              </div>
            </li>
            <li class="news__item accordion__news">
              <div class="news__image-box">
                <img
                  class="news__image"
                  src="./images/news-card/mob/news-card-img-mob@1x.jpg"
                  alt=""
                />
                <div class="div">
                  <button
                    class="news__favorite-btn"
                    data-value="4"
                    type="button"
                  >
                    Add to favorite
                  </button>
                  <svg class="favorite-btn__icon-add" width="16" height="16">
                    <use href="./images/icons.svg#icon-icon-heart-1"></use>
                  </svg>
                </div>
                <h3 class="news__image-heading">Job Searching</h3>
              </div>
              <h2 class="news__title">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Adipisci quidem pariatur similique praesentium corporis sunt
                alias natus fugit, assumenda nemo laborum sint maiores nihil,
                obcaecati animi aliquam optio velit quam.
              </h2>
              <p class="news__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Eligendi officiis laboriosam, magnam assumenda ipsam itaque
                dignissimos eaque dolorum ex optio, omnis totam dolor, animi
                expedita nemo possimus? Ducimus, eligendi vitae.
              </p>
              <div class="news__lower-box">
                <p class="news__date">today`s day</p>
                <a class="news__readmore-link" href="#">Read more</a>
              </div>
            </li>
            <li class="news__item accordion__news">
              <div class="news__image-box">
                <img
                  class="news__image"
                  src="./images/news-card/mob/news-card-img-mob@1x.jpg"
                  alt=""
                />
                <div class="div">
                  <button
                    class="news__favorite-btn"
                    data-value="4"
                    type="button"
                  >
                    Add to favorite
                  </button>
                  <svg class="favorite-btn__icon-add" width="16" height="16">
                    <use href="./images/icons.svg#icon-icon-heart-1"></use>
                  </svg>
                </div>
                <h3 class="news__image-heading">Job Searching</h3>
              </div>
              <h2 class="news__title">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Adipisci quidem pariatur similique praesentium corporis sunt
                alias natus fugit, assumenda nemo laborum sint maiores nihil,
                obcaecati animi aliquam optio velit quam.
              </h2>
              <p class="news__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Eligendi officiis laboriosam, magnam assumenda ipsam itaque
                dignissimos eaque dolorum ex optio, omnis totam dolor, animi
                expedita nemo possimus? Ducimus, eligendi vitae.
              </p>
              <div class="news__lower-box">
                <p class="news__date">today`s day</p>
                <a class="news__readmore-link" href="#">Read more</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="accordion__item">
        <div class="accordion__header">18/02/2021</div>
        <div class="accordion__body">
          <ul class="news__list accordion__list">
            <li class="news__item accordion__news">
              <div class="news__image-box">
                <img
                  class="news__image"
                  src="./images/news-card/mob/news-card-img-mob@1x.jpg"
                  alt=""
                />
                <div class="div">
                  <button
                    class="news__favorite-btn"
                    data-value="4"
                    type="button"
                  >
                    Add to favorite
                  </button>
                  <svg class="favorite-btn__icon-add" width="16" height="16">
                    <use href="./images/icons.svg#icon-icon-heart-1"></use>
                  </svg>
                </div>
                <h3 class="news__image-heading">Job Searching</h3>
              </div>
              <h2 class="news__title">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Adipisci quidem pariatur similique praesentium corporis sunt
                alias natus fugit, assumenda nemo laborum sint maiores nihil,
                obcaecati animi aliquam optio velit quam.
              </h2>
              <p class="news__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Eligendi officiis laboriosam, magnam assumenda ipsam itaque
                dignissimos eaque dolorum ex optio, omnis totam dolor, animi
                expedita nemo possimus? Ducimus, eligendi vitae.
              </p>
              <div class="news__lower-box">
                <p class="news__date">today`s day</p>
                <a class="news__readmore-link" href="#">Read more</a>
              </div>
            </li>
            <li class="news__item accordion__news">
              <div class="news__image-box">
                <img
                  class="news__image"
                  src="./images/news-card/mob/news-card-img-mob@1x.jpg"
                  alt=""
                />
                <div class="div">
                  <button
                    class="news__favorite-btn"
                    data-value="4"
                    type="button"
                  >
                    Add to favorite
                  </button>
                  <svg class="favorite-btn__icon-add" width="16" height="16">
                    <use href="./images/icons.svg#icon-icon-heart-1"></use>
                  </svg>
                </div>
                <h3 class="news__image-heading">Job Searching</h3>
              </div>
              <h2 class="news__title">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Adipisci quidem pariatur similique praesentium corporis sunt
                alias natus fugit, assumenda nemo laborum sint maiores nihil,
                obcaecati animi aliquam optio velit quam.
              </h2>
              <p class="news__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Eligendi officiis laboriosam, magnam assumenda ipsam itaque
                dignissimos eaque dolorum ex optio, omnis totam dolor, animi
                expedita nemo possimus? Ducimus, eligendi vitae.
              </p>
              <div class="news__lower-box">
                <p class="news__date">today`s day</p>
                <a class="news__readmore-link" href="#">Read more</a>
              </div>
            </li>
            <li class="news__item accordion__news">
              <div class="news__image-box">
                <img
                  class="news__image"
                  src="./images/news-card/mob/news-card-img-mob@1x.jpg"
                  alt=""
                />
                <div class="div">
                  <button
                    class="news__favorite-btn"
                    data-value="4"
                    type="button"
                  >
                    Add to favorite
                  </button>
                  <svg class="favorite-btn__icon-add" width="16" height="16">
                    <use href="./images/icons.svg#icon-icon-heart-1"></use>
                  </svg>
                </div>
                <h3 class="news__image-heading">Job Searching</h3>
              </div>
              <h2 class="news__title">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Adipisci quidem pariatur similique praesentium corporis sunt
                alias natus fugit, assumenda nemo laborum sint maiores nihil,
                obcaecati animi aliquam optio velit quam.
              </h2>
              <p class="news__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Eligendi officiis laboriosam, magnam assumenda ipsam itaque
                dignissimos eaque dolorum ex optio, omnis totam dolor, animi
                expedita nemo possimus? Ducimus, eligendi vitae.
              </p>
              <div class="news__lower-box">
                <p class="news__date">today`s day</p>
                <a class="news__readmore-link" href="#">Read more</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="accordion__item">
        <div class="accordion__header">17/02/2021</div>
        <div class="accordion__body">
          <ul class="news__list accordion__list">
            <li class="news__item accordion__news">
              <div class="news__image-box">
                <img
                  class="news__image"
                  src="./images/news-card/mob/news-card-img-mob@1x.jpg"
                  alt=""
                />
                <div class="div">
                  <button
                    class="news__favorite-btn"
                    data-value="4"
                    type="button"
                  >
                    Add to favorite
                  </button>
                  <svg class="favorite-btn__icon-add" width="16" height="16">
                    <use href="./images/icons.svg#icon-icon-heart-1"></use>
                  </svg>
                </div>
                <h3 class="news__image-heading">Job Searching</h3>
              </div>
              <h2 class="news__title">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Adipisci quidem pariatur similique praesentium corporis sunt
                alias natus fugit, assumenda nemo laborum sint maiores nihil,
                obcaecati animi aliquam optio velit quam.
              </h2>
              <p class="news__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Eligendi officiis laboriosam, magnam assumenda ipsam itaque
                dignissimos eaque dolorum ex optio, omnis totam dolor, animi
                expedita nemo possimus? Ducimus, eligendi vitae.
              </p>
              <div class="news__lower-box">
                <p class="news__date">today`s day</p>
                <a class="news__readmore-link" href="#">Read more</a>
              </div>
            </li>
            <li class="news__item accordion__news">
              <div class="news__image-box">
                <img
                  class="news__image"
                  src="./images/news-card/mob/news-card-img-mob@1x.jpg"
                  alt=""
                />
                <div class="div">
                  <button
                    class="news__favorite-btn"
                    data-value="4"
                    type="button"
                  >
                    Add to favorite
                  </button>
                  <svg class="favorite-btn__icon-add" width="16" height="16">
                    <use href="./images/icons.svg#icon-icon-heart-1"></use>
                  </svg>
                </div>
                <h3 class="news__image-heading">Job Searching</h3>
              </div>
              <h2 class="news__title">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Adipisci quidem pariatur similique praesentium corporis sunt
                alias natus fugit, assumenda nemo laborum sint maiores nihil,
                obcaecati animi aliquam optio velit quam.
              </h2>
              <p class="news__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Eligendi officiis laboriosam, magnam assumenda ipsam itaque
                dignissimos eaque dolorum ex optio, omnis totam dolor, animi
                expedita nemo possimus? Ducimus, eligendi vitae.
              </p>
              <div class="news__lower-box">
                <p class="news__date">today`s day</p>
                <a class="news__readmore-link" href="#">Read more</a>
              </div>
            </li>
            <li class="news__item accordion__news">
              <div class="news__image-box">
                <img
                  class="news__image"
                  src="./images/news-card/mob/news-card-img-mob@1x.jpg"
                  alt=""
                />
                <div class="div">
                  <button
                    class="news__favorite-btn"
                    data-value="4"
                    type="button"
                  >
                    Add to favorite
                  </button>
                  <svg class="favorite-btn__icon-add" width="16" height="16">
                    <use href="./images/icons.svg#icon-icon-heart-1"></use>
                  </svg>
                </div>
                <h3 class="news__image-heading">Job Searching</h3>
              </div>
              <h2 class="news__title">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Adipisci quidem pariatur similique praesentium corporis sunt
                alias natus fugit, assumenda nemo laborum sint maiores nihil,
                obcaecati animi aliquam optio velit quam.
              </h2>
              <p class="news__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Eligendi officiis laboriosam, magnam assumenda ipsam itaque
                dignissimos eaque dolorum ex optio, omnis totam dolor, animi
                expedita nemo possimus? Ducimus, eligendi vitae.
              </p>
              <div class="news__lower-box">
                <p class="news__date">today`s day</p>
                <a class="news__readmore-link" href="#">Read more</a>
              </div>
            </li>
          </ul>
        </div>
      </div> -->
    </div>
    <svg class="loading-svg" width="32" height="32">
      <use href="./images/icons.svg#icon-loading"></use>
    </svg>
  </div>
</main>
