<div class="container">
  <div class="weather">
    <!-- <div class="weather__info info">
      <p class="info__temp">23</p>
      <p class="info__situation">Sunny</p>
      <p class="info__geo">Jakarta</p>
    </div>
    <img
      src="./images/weather/sun.jpg"
      alt="image of sun"
      width="128"
      class="weather-img"
    />
    <div class="weather__date date">
      <p class="date__day-of-week">Monday</p>
      <p class="date__current">21 Jan 2023</p>
    </div> -->
  </div>
</div>
