.favorite-wrapper {
  @include flexed;
}

.favorite-list {
  width: 100%;
  margin-top: 40px;
  @include grid-fixed(1, 28px);
  @media screen and (min-width: 768px) {
    @include grid-fixed(2, 30px, 30px);
    margin-top: 48px;
  }
  @media screen and (min-width: 1280px) {
    @include grid-fixed(3, 40px, 32px);
    margin-top: 60px;
  }
}

.favotite-item {
  min-width: 288px;
  height: 630px;
  background-color: rgba(68, 64, 246, 1);
  @media screen and (min-width: 768px) {
    min-width: 353px;
    height: 675px;
  }
}

// Pagination

.pagination {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.pagination-list {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 4px;
}

.pagination-btn {
  background-color: getColor(full-white);
  height: 28px;
  width: 28px;
  border: 1px solid #4440f6;
  border-radius: 2px;
  @media screen and (min-width: 768px) {
    height: 33px;
    width: 31px;
  }
}

.pagination-btn:active {
  color: getColor(full-white);
  background-color: getColor(primary-active);
}

.arrow {
  margin-left: 6px;
  margin-right: 6px;
  width: 70px;
  @media screen and (min-width: 768px) {
    height: 33px;
  }
}
.pagination-btn-text {
  @include main-font(500, 14px, 19px);
}

.points {
  padding-top: 6px;
  @include main-font(500, 14px, 19px);
}
