.pagination {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.pagination-list {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 4px;
}
.pagination-item {
  @include main-font(500, 14px, 19px);

  text-align: center;
  height: 28px;
  width: 28px;
  background-color: getColor(full-white);
  border: 1px solid #4440f6;
  border-radius: 2px;
  @media screen and (min-width: 768px) {
    height: 33px;
    width: 31px;
  }
}

.active {
  color: getColor(full-white);
  background-color: getColor(primary-active);
}

.arrow {
  margin-left: 6px;
  margin-right: 6px;
  width: 70px;
  @media screen and (min-width: 768px) {
    height: 33px;
  }
}
.pagination-btn-text {
  @include main-font(500, 14px, 19px);
}

.points {
  padding-top: 6px;
  @include main-font(500, 14px, 19px);
}
.none {
  display: none;
}
