.weather {
  height: 470px;
  max-width: 290px;

  background: #4440f7;
  mix-blend-mode: normal;
  border-radius: 4px;
}

.weather__info {
}
.info {
  margin: 32px 36px 40px 36px;
}
.info__temp {
}
.info__situation {
}
.info__geo {
}
.weather-img {
}
.weather__date {
}
.date {
}
.date__day-of-week {
}
.date__current {
}

.date-date {
}

.date-month {
}

.date-year {
}
